*
{
    background-color: #213b50;
    color: white;
}



input[type="text"], input[type="email"], textarea
{
    background-color: #2b4a64;
    border-style: none;
    display: block; width: 200px; 
    
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus
{
    background-color:#4e708c;
    
}

input[type="submit"]
{
    background-color: lime;
    border-style: none;
    width: 80px;
    height: 40px;
    font-family: cursive;
}
select#miasto option {
    background-color: #4e708c;
    color: white;
}
select#miasto
{
    background-color: #2b4a64;
    color: white;
    display: block; width: 200px;
    border-style: none;
}